# **5.6 Common List Patterns**

Master the most useful list patterns for Pokemon data - finding max/min, removing duplicates, flattening lists, and more! These patterns appear constantly in real programming.

---

## **Finding Max and Min**

In [ ]:
levels = [25, 30, 18, 45, 12, 38]

# Built-in functions
highest = max(levels)
lowest = min(levels)

print(f"Highest level: {highest}")
print(f"Lowest level: {lowest}")

# With custom key
team = ["Mew", "Pikachu", "Charizard", "Blastoise"]
longest_name = max(team, key=len)
print(f"Longest name: {longest_name}")

---

## **Sum and Average**

In [ ]:
levels = [25, 30, 28, 35, 27, 32]

total = sum(levels)
average = sum(levels) / len(levels)

print(f"Total: {total}")
print(f"Average: {average:.1f}")

---

## **Removing Duplicates**

In [ ]:
types = ["Fire", "Water", "Fire", "Grass", "Water", "Electric", "Fire"]

# Using set (loses order)
unique = list(set(types))
print(unique)

# Preserving order
unique_ordered = []
for ptype in types:
    if ptype not in unique_ordered:
        unique_ordered.append(ptype)
print(unique_ordered)

---

## **Counting Occurrences**

In [ ]:
types = ["Fire", "Water", "Fire", "Grass", "Fire", "Electric"]

# Count specific value
fire_count = types.count("Fire")
print(f"Fire types: {fire_count}")

# Count all (using dict)
type_counts = {}
for ptype in types:
    type_counts[ptype] = type_counts.get(ptype, 0) + 1
print(type_counts)

---

## **Flattening Nested Lists**

In [ ]:
boxes = [
    ["Pikachu", "Charmander"],
    ["Squirtle", "Bulbasaur"],
    ["Eevee", "Meowth"]
]

# Using loop
flattened = []
for box in boxes:
    for pokemon in box:
        flattened.append(pokemon)
print(flattened)

# Using comprehension
flattened = [pokemon for box in boxes for pokemon in box]
print(flattened)

---

## **Chunking Lists**

In [ ]:
# Split into chunks of size n
team = ["Pikachu", "Charizard", "Blastoise", "Venusaur", "Gengar", "Dragonite"]
chunk_size = 2

chunks = [team[i:i+chunk_size] for i in range(0, len(team), chunk_size)]
print(chunks)

---

## **Rotating Lists**

In [ ]:
team = ["Pikachu", "Charizard", "Blastoise", "Venusaur"]

# Rotate left by 1
rotated_left = team[1:] + team[:1]
print(f"Original: {team}")
print(f"Rotated left: {rotated_left}")

# Rotate right by 1
rotated_right = team[-1:] + team[:-1]
print(f"Rotated right: {rotated_right}")

---

## **All/Any Checks**

In [ ]:
# Check if all meet condition
levels = [25, 30, 28, 35]
all_high = all(level >= 20 for level in levels)
print(f"All above 20: {all_high}")

# Check if any meet condition
levels = [15, 18, 22, 12]
any_high = any(level >= 20 for level in levels)
print(f"Any above 20: {any_high}")

---

## **List Difference**

In [ ]:
# Items in list1 but not in list2
team1 = ["Pikachu", "Charizard", "Blastoise", "Venusaur"]
team2 = ["Charizard", "Venusaur", "Gengar"]

difference = [p for p in team1 if p not in team2]
print(f"In team1 but not team2: {difference}")

---

## **List Intersection**

In [ ]:
# Items in both lists
team1 = ["Pikachu", "Charizard", "Blastoise", "Venusaur"]
team2 = ["Charizard", "Venusaur", "Gengar"]

common = [p for p in team1 if p in team2]
print(f"Common Pokemon: {common}")

---

## **Creating Ranges**

In [ ]:
# List of numbers
numbers = list(range(1, 11))
print(numbers)

# Even numbers
evens = list(range(0, 21, 2))
print(evens)

# Multiples of 5
multiples = list(range(0, 51, 5))
print(multiples)

---

## **Grouping by Condition**

In [ ]:
levels = [15, 45, 32, 51, 28, 60, 35, 22]

# Separate into two groups
high = [level for level in levels if level >= 30]
low = [level for level in levels if level < 30]

print(f"High levels: {high}")
print(f"Low levels: {low}")

---

## **Practice Exercises**

### **Task 1: Find Max Level**

Find the highest level.

**Expected Output:**
```
Highest level: 60
```

In [ ]:
levels = [25, 30, 18, 45, 12, 60, 38]

# Your code here:

### **Task 2: Calculate Average**

Find average level.

**Expected Output:**
```
Average level: 29.5
```

In [ ]:
levels = [25, 30, 28, 35]

# Your code here:

### **Task 3: Remove Duplicates**

Get unique types (order preserved).

**Expected Output:**
```
['Fire', 'Water', 'Grass', 'Electric']
```

In [ ]:
types = ["Fire", "Water", "Fire", "Grass", "Water", "Electric", "Fire"]

# Your code here:

### **Task 4: Count Fire Types**

Count how many Fire types.

**Expected Output:**
```
Fire types: 3
```

In [ ]:
types = ["Fire", "Water", "Fire", "Grass", "Fire", "Electric"]

# Your code here:

### **Task 5: Flatten Boxes**

Combine all Pokemon into one list.

**Expected Output:**
```
['Pikachu', 'Charmander', 'Squirtle', 'Bulbasaur', 'Eevee', 'Meowth']
```

In [ ]:
boxes = [
    ["Pikachu", "Charmander"],
    ["Squirtle", "Bulbasaur"],
    ["Eevee", "Meowth"]
]

# Your code here:

### **Task 6: Chunk Team**

Split into groups of 2.

**Expected Output:**
```
[['Pikachu', 'Charizard'], ['Blastoise', 'Venusaur'], ['Gengar', 'Dragonite']]
```

In [ ]:
team = ["Pikachu", "Charizard", "Blastoise", "Venusaur", "Gengar", "Dragonite"]

# Your code here:

### **Task 7: All Above Level**

Check if all Pokemon are level 20+.

**Expected Output:**
```
All above 20: True
```

In [ ]:
levels = [25, 30, 28, 35, 22]

# Your code here:

### **Task 8: Common Pokemon**

Find Pokemon in both teams.

**Expected Output:**
```
['Charizard', 'Venusaur']
```

In [ ]:
team1 = ["Pikachu", "Charizard", "Blastoise", "Venusaur"]
team2 = ["Charizard", "Venusaur", "Gengar", "Dragonite"]

# Your code here:

### **Task 9: Rotate Team**

Rotate left by 1 (first becomes last).

**Expected Output:**
```
['Charizard', 'Blastoise', 'Venusaur', 'Pikachu']
```

In [ ]:
team = ["Pikachu", "Charizard", "Blastoise", "Venusaur"]

# Your code here:

### **Task 10: Separate High and Low**

Split into high (>=30) and low (<30).

**Expected Output:**
```
High: [45, 32, 51, 60, 35]
Low: [15, 28, 22]
```

In [ ]:
levels = [15, 45, 32, 51, 28, 60, 35, 22]

# Your code here:

---

## **Summary**

- max(), min(), sum()
- Remove duplicates with set
- count() for occurrences
- Flatten nested lists
- Chunk lists
- Rotate lists
- all(), any() checks
- Set operations (difference, intersection)
- Grouping by conditions

---

## **Quick Reference**

```python
# Min/Max/Sum
max(lst)
min(lst)
sum(lst)

# Unique
list(set(lst))

# Flatten
[item for sublist in lst for item in sublist]

# Chunk
[lst[i:i+n] for i in range(0, len(lst), n)]

# Rotate
lst[1:] + lst[:1]  # left
lst[-1:] + lst[:-1]  # right

# All/Any
all(condition for x in lst)
any(condition for x in lst)

# Intersection
[x for x in lst1 if x in lst2]
```