# **9.3 Set Comprehensions**

Set comprehensions create sets in one line - perfect for collecting unique values, filtering data, and removing duplicates automatically! Let's master this tool.

---

## **Basic Set Comprehension**

In [ ]:
# Old way with loop
levels = [25, 30, 25, 28, 30, 35]
unique_levels = set()
for level in levels:
    unique_levels.add(level)
print(unique_levels)

# Set comprehension way
unique_levels = {level for level in levels}
print(unique_levels)

### **Syntax:**
```python
{expression for item in iterable}
```

---

## **Simple Transformations**

In [ ]:
# Uppercase all types
types = ["fire", "water", "fire", "grass"]
uppercase = {t.upper() for t in types}
print(uppercase)

# Squares (unique)
numbers = [1, 2, 3, 2, 4, 1, 5]
squares = {n ** 2 for n in numbers}
print(squares)

# String lengths
team = ["Pikachu", "Charizard", "Pikachu", "Blastoise"]
lengths = {len(name) for name in team}
print(lengths)

---

## **With Conditionals**

In [ ]:
# Only high levels
levels = [15, 25, 30, 18, 45, 25, 12]
high_levels = {level for level in levels if level >= 25}
print(high_levels)

# Only even numbers
numbers = [1, 2, 3, 4, 5, 2, 6, 3, 7, 8]
evens = {n for n in numbers if n % 2 == 0}
print(evens)

# Only long names
team = ["Mew", "Pikachu", "Charizard", "Mew", "Blastoise"]
long_names = {name for name in team if len(name) > 5}
print(long_names)

---

## **From Strings**

In [ ]:
# Unique letters
name = "Charizard"
letters = {char for char in name}
print(letters)

# Only vowels
vowels = {char for char in name if char.lower() in "aeiou"}
print(vowels)

# Uppercase consonants
consonants = {char.upper() for char in name if char.lower() not in "aeiou"}
print(consonants)

---

## **From Ranges**

In [ ]:
# Multiples of 5
multiples = {n for n in range(50) if n % 5 == 0}
print(multiples)

# Squares under 100
squares = {n ** 2 for n in range(1, 11)}
print(squares)

# Prime-looking pattern
filtered = {n for n in range(1, 21) if n % 2 != 0 and n % 3 != 0}
print(filtered)

---

## **From Tuples and Lists**

In [ ]:
# Extract types
pokemon_data = [
    ("Pikachu", "Electric"),
    ("Charizard", "Fire"),
    ("Raichu", "Electric"),
    ("Arcanine", "Fire")
]

types = {ptype for name, ptype in pokemon_data}
print(types)

# Names starting with specific letter
p_names = {name for name, ptype in pokemon_data if name.startswith('P')}
print(p_names)

---

## **Nested Comprehensions**

In [ ]:
# Flatten and get unique
boxes = [
    ["Pikachu", "Charmander"],
    ["Pikachu", "Squirtle"],
    ["Charmander", "Bulbasaur"]
]

all_unique = {pokemon for box in boxes for pokemon in box}
print(all_unique)

---

## **Practical Examples**

In [ ]:
# Get unique types from team
team = [
    ("Pikachu", "Electric", 25),
    ("Charizard", "Fire", 36),
    ("Raichu", "Electric", 30),
    ("Arcanine", "Fire", 40)
]

unique_types = {ptype for name, ptype, level in team}
print(f"Types in team: {unique_types}")

# Unique first letters
pokemon_names = ["Pikachu", "Charizard", "Blastoise", "Charmander", "Bulbasaur"]
first_letters = {name[0] for name in pokemon_names}
print(f"First letters: {first_letters}")

# Experience thresholds
levels = [5, 10, 15, 20, 25, 30]
exp_needed = {level * 100 for level in levels}
print(f"Experience thresholds: {sorted(exp_needed)}")

# Valid evolution levels
evo_levels = {n for n in range(1, 101) if n % 16 == 0 or n % 36 == 0}
print(f"Evolution levels: {sorted(evo_levels)}")

---

## **Practice Exercises**

### **Task 1: Unique Levels**

Get unique levels from list.

**Expected Output:**
```
{25, 30, 35}
```

In [ ]:
levels = [25, 30, 25, 35, 30]

# Your code here:

### **Task 2: Uppercase Types**

Create set of uppercase types.

**Expected Output:**
```
{'FIRE', 'WATER', 'GRASS'}
```

In [ ]:
types = ["fire", "water", "fire", "grass"]

# Your code here:

### **Task 3: Even Numbers**

Get unique even numbers.

**Expected Output:**
```
{2, 4, 6, 8}
```

In [ ]:
numbers = [1, 2, 3, 4, 2, 5, 6, 3, 7, 8]

# Your code here:

### **Task 4: Squares**

Create set of squares from 1 to 10.

**Expected Output:**
```
{1, 4, 9, 16, 25, 36, 49, 64, 81, 100}
```

In [ ]:
# Your code here:

### **Task 5: High Levels**

Get levels >= 30.

**Expected Output:**
```
{30, 35, 45}
```

In [ ]:
levels = [25, 30, 18, 35, 45, 22]

# Your code here:

### **Task 6: String Lengths**

Get unique name lengths.

**Expected Output:**
```
{7, 9}
```

In [ ]:
team = ["Pikachu", "Charizard", "Blastoise", "Pikachu"]

# Your code here:

### **Task 7: Unique Letters**

Get unique letters from name.

**Expected Output:**
```
{'P', 'i', 'k', 'a', 'c', 'h', 'u'}
```

In [ ]:
name = "Pikachu"

# Your code here:

### **Task 8: Extract Types**

Get unique types from tuples.

**Expected Output:**
```
{'Electric', 'Fire'}
```

In [ ]:
pokemon_data = [
    ("Pikachu", "Electric"),
    ("Charizard", "Fire"),
    ("Raichu", "Electric")
]

# Your code here:

### **Task 9: Multiples of 3**

Get multiples of 3 from 1 to 30.

**Expected Output:**
```
{3, 6, 9, 12, 15, 18, 21, 24, 27, 30}
```

In [ ]:
# Your code here:

### **Task 10: Flatten Boxes**

Get unique Pokemon from all boxes.

**Expected Output:**
```
{'Pikachu', 'Charmander', 'Squirtle', 'Bulbasaur'}
```

In [ ]:
boxes = [
    ["Pikachu", "Charmander"],
    ["Squirtle", "Pikachu"],
    ["Bulbasaur", "Charmander"]
]

# Your code here:

---

## **Summary**

- Basic: {expr for item in iterable}
- With filter: {expr for item in iterable if condition}
- Automatically removes duplicates
- From strings, lists, ranges, tuples
- Nested: {item for sublist in lists for item in sublist}
- Use for unique values, deduplication, filtering

---

## **Quick Reference**

```python
# Basic
{x for x in items}

# With filter
{x for x in items if condition}

# Transform
{x.upper() for x in items}

# From range
{n for n in range(10)}

# From string
{char for char in "text"}

# Flatten
{item for sublist in lists for item in sublist}

# Extract from tuples
{value for key, value in pairs}
```